<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JSON Read Application</title>
  </head>
  <body>
    <h1>Infoblox Assessment Project</h1>
    <h2>{{ name }}</h2>
    <p>
      This is my project for Infoblox Assessment. The technologies that have been used are given below:
    </p>
    <ul>
      <li>Django 3.1</li>
      <li>Django Rest Framework 3.11.1</li>
      <li>Postgresql with Psycopg2 package</li>
    </ul>
    <p>
      Eventhough, I have heard about the Django Rest Framework, I did not have an opportunity to work on it.
      I have worked on Django framework before, for few projects. Please contact me, in case of any queries concerning the project.
      The setup I have made with Django Rest Framework is pretty basic one with the help of
      <a href="https://www.django-rest-framework.org/tutorial/">Django Rest Framework tutorial</a>.
      The pagination used is Page number pagination hence, for viewing all the data, you have to append ?page[number] for all data
    </p>
    <p>
      Filtering has been applied to the /api/all page. Give : /api/all?enabled=True
    </p>
    <p>
      The useful links are given below for your reference :
    </p>
    <ul>
      <li><a href="/api/all">List all data</a></li>
      <li><a href="/api/new">Add new data</a></li>
      <li>Get detail of a user with id : /api/[id]</li>
    </ul>
    <p>The command line executions that have been implemented are : </p>
    <ul>
      <li>python3 manage.py add_data [path to JSON file]</li>
      <li>python3 manage.py read_data [id]</li>
    </ul>
  </body>
</html>
